<launch>
    <arg name="use_rviz" default="true"/>
    <arg name="map" default="my_map"/>
    <node name='send_mark' pkg="yahboomcar_nav" type="send_mark.py"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(find yahboomcar_nav)/maps/$(arg map).yaml"/>
    <include file="$(find yahboomcar_nav)/launch/library/move_base.launch"/>
    <include file="$(find yahboomcar_nav)/launch/library/amcl.launch"/>
    <!-- <include file="$(find yahboomcar_nav)/launch/view/view_navigate.launch" if="$(arg use_rviz)"/> -->
</launch>

